doctype html
html
  head
    title Members Only
   
    link(rel='stylesheet', href='/stylesheets/style.css')

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet")

  body
    nav
      h1 hi

    block content
