<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Log In</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username: </label>
      <input type="text" name="username" required />

      <label for="password">Password: </label>
      <input type="password" name="password" minlength="8" required />

      <% if (messages.error) { %> <%= messages.error %> <%} %>

      <button type="submit">Log In</button>
    </form>

    <a href="/sign-up">Sign up</a>
  </body>
</html>
