<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="" method="POST">
      <label for="username">Username: </label>
      <input type="text" name="username" required />

      <label for="password">Password: </label>
      <input type="password" name="password" minlength="8" required />

      <button type="submit">Sign Up</button>
    </form>
    <a href="/log-in">Log In</a>
  </body>
</html>
